@import 'variables.module';

.contact {

  background-image: url("../public/white-marble.jpg");
  background-size: cover;

  h2 {
    font-family: $font;
  }

  button {
    background-color: $secondaryColorPP;
  }
  button:hover {
    background-color: $darkSecondaryColorPP;
  }
}
