@import 'variables.module';

.pianos {

  background-color: $mainColorPP;

  h2 {
    font-family: $font;
  }

  .button:hover {
    background-color: rgba(white,.5);
    border-color: transparent;
  }
}
