@import 'variables.module';

.service {

  background-image: url("../public/white-marble.jpg");
  background-size: cover;

  h2 {
    font-family: $fontBitter;
  }

  .icon {
    background-color: $yellowPP;
  }
}
