@import 'variables.module';

.testimonies {

  h2 {
    font-family: $font;
  }

  .testimony {
    display: block !important;
  }

  blockquote p::before {
    content: '\201C';
  }

  blockquote p::after {
    content: '\201D';
  }

}
