$whitePP: white;
$blackPP: black;
$greyPP: #5a7477;
$darkGreyPP: #28494c;
$yellowPP: #ad9c44;

$font: Bitter;

:export {
  whitePP: $whitePP;
  blackPP: $blackPP;
  greyPP : $greyPP;
  darkGreyPP: $darkGreyPP;
  yellowPP: $yellowPP;
  fontBitter: $font;
}
